body {
  padding: 1rem;
}

h1, p {
  margin-bottom: 2rem;
}

#groups li {
  display: inline-block;
  margin-right: 3rem;
  margin-left: -2rem;
}

#cars {
  margin-top: 2rem;
}

.car {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.car h3 {
  margin-top: 0;
}

.car p {
  margin-bottom: 0.5rem;
}

#cart {
  margin-top: 2rem;
}

#cart h2 {
  margin-bottom: 1rem;
}

#cart p {
  font-weight: bold;
  margin-top: 1rem;
}

#cart-total {
  font-size: 1.2rem;
}

#cart-list .list-group-item {
  border: none;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:active {
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:focus {
  box-shadow: none;
}